# /etc/nginx/server.conf

server {
    listen [::]:5000 ipv6only=off;
    server_name localhost;
    root /opt/carbonwallet;

    more_set_headers "X-Frame-Options: DENY";
    more_set_headers "Access-Control-Allow-Origin: https://{{ .vhost }}";
}
